.button {
  display: inline-block;
  background-color: #3CC039;
  color: black;
  border-width: 0px;
  text-align: center;
  font-size: 18px;
  padding: 14px 16px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken(#3CC039, 7%);
  }

  &:active {
    background-color: darken(#3CC039, 15%);
    color: white;
  }
}

.button-rounded {
  background-color: #1C791A;
  color: white;
  padding: 11px 19px;
  border-radius: 20px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken(#1C791A, 7%);
  }

  &:active {
    background-color: darken(#1C791A, 15%);
  }
}
