.button {
  display: inline-block;
  padding: 14px 16px;
  color: black;
  font-size: 18px;
  text-align: center;
  background-color: #3CC039;
  border-width: 0px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken(#3CC039, 7%);
  }

  &:active {
    color: white;
    background-color: darken(#3CC039, 15%);
  }
}

.button-rounded {
  padding: 11px 19px;
  color: white;
  background-color: #1C791A;
  border-width: 0;
  border-radius: 20px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken(#1C791A, 7%);
  }

  &:active {
    background-color: darken(#1C791A, 15%);
  }

  &--medium {
    padding: 8px 16px;
    font-size: 14px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .spin {
    width: 17px;
    transform: translate(0px, 1px) scale(2);
  }
}
