.header {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #525252;

  &__container {
    max-width: 1170px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
}

.menu-user {
  display: flex;
  align-items: center;

  &__avatar {
    width: 25px;
    height: 25px;
  }

  &__name {
    margin-right: 15px;
    color: white;
    font-size: 16px;
  }
}
