.header {
  background-color: #525252;
  padding-top: 23px;
  padding-bottom: 23px;

  &__container {
    max-width: 1170px;
    margin: auto;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}


.menu-user {
  display: flex;
  align-items: center;

  &__avatar {
    width: 25px;
    height: 25px;
  }
  &__name {
    margin-right: 15px;
    font-size: 16px;
    color: white;
  }
}
