.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
  }

  &__form {
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 30px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

