.percent-bar {
  display: flex;
  align-items: stretch;
  height: 7px;
  background-color: white;

  &--in {
    border: 1px solid #1C791A;
  }

  &--out {
    border: 1px solid #911B1B;
  }

  &__progress {
    &--in {
      background-color: #75DC8C;
    }

    &--out {
      background-color: #D22A2A;
    }
  }
}
