.table-transactions {
  &__tabs {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__header {

  }
  &__footer {

  }
}

.tab-in-out {
  &__tab {
    border-width: 0;
    padding: 10px 0;
    font-size: 14px;
    width: 80px;
    max-width: 100%;
    font-weight: bold;
    background-color: #C3C1C1;
    color: black;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: darken(#C3C1C1, 10%);
    }
    &:active {
      background-color: darken(#C3C1C1, 15%);
    }

    &--in-actived {
      color: white;
      background-color: #30B84E;

      &:focus,
      &:hover {
        background-color: darken(#30B84E, 10%);
      }
      &:hover {
        background-color: darken(#30B84E, 15%);
      }
    }
    &--out-actived {
      color: white;
      background-color: #911B1B;

      &:focus,
      &:hover {
        background-color: darken(#911B1B, 10%);
      }
      &:hover {
        background-color: darken(#911B1B, 15%);
      }
    }
  }
}

.tab-months {
  display: flex;

  &__navigation {
    background-color: #EAEAEA;
    color: black;
    font-size: 16px;
    width: 130px;
    cursor: pointer;
    border-width: 0;

    &:focus,
    &:hover {
      background-color: darken(#EAEAEA, 10%);
    }
    &:active {
      background-color: darken(#EAEAEA, 15%);
    }
  }
  &__current {
    width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #EAEAEA;
    color: black;
  }
}
