%col {
  flex: 1;
}
%col-inner {
  flex: 1;
}

.table-transactions {
  &__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__header {
    display: flex;
  }

  &__row {
    display: flex;

    background-color: #FFFFFF;
    border-bottom: 1px solid #D7D7D7;

    &:nth-child(even) {
      background-color: #F5F5F5;
    }

    &--is-editing {
      background-color: #ECECEC;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
  }

  &__header-col {
    @extend %col;
    background-color: #F1F1F1;

    &:nth-child(even) {
      background-color: #ECECEC;
    }

    &-inner {
      @extend %col-inner;
      padding: 9px 12px;
    }
  }

  &__col {
    @extend %col;
    display: flex;

    &--is-editing {
      .table-transactions__col-inner {
        padding: 5px;
      }
    }
    &--action {
      .table-transactions__col-inner {
        justify-content: flex-end;
        padding: 9px 9px;
      }
      &.table-transactions__col--is-editing {
        .table-transactions__col-inner {
          padding: 8px 9px
        }
      }
    }
  }

  &__col-inner {
    @extend %col-inner;
    padding: 9px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 9px 0px 9px 6px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
    background-color: #C4C4C4;
  }

  &__labels,
  &__values {
    display: flex;
    flex-direction: column;
    line-height: 25px;
  }

  &__values {
    margin-left: 15px;
  }

  &__label {
    font-weight: bold;
  }

  &__value {
    font-size: 22px;
  }

  &__value,
  &__label {
    padding-bottom: 5px;
  }

  &__no-data {
    @extend %col;
    text-align: center;
  }

  &__loading {
    @extend %col;
    text-align: center;

    .spin {
      width: 14px;
      transform: scale(2);
    }
  }
}

.tab-in-out {
  &__tab {
    width: 80px;
    max-width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: #C3C1C1;
    border-width: 0;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: darken(#C3C1C1, 10%);
    }

    &:active {
      background-color: darken(#C3C1C1, 15%);
    }

    &--in-actived {
      color: white;
      background-color: #30B84E;

      &:focus,
      &:hover {
        background-color: darken(#30B84E, 10%);
      }

      &:hover {
        background-color: darken(#30B84E, 15%);
      }
    }

    &--out-actived {
      color: white;
      background-color: #911B1B;

      &:focus,
      &:hover {
        background-color: darken(#911B1B, 10%);
      }

      &:hover {
        background-color: darken(#911B1B, 15%);
      }
    }
  }
}

.tab-months {
  display: flex;

  &__navigation {
    width: 130px;
    padding: 7px 0;
    color: black;
    font-size: 16px;
    background-color: #EAEAEA;
    border-width: 0;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: darken(#EAEAEA, 10%);
    }

    &:active {
      background-color: darken(#EAEAEA, 15%);
    }
  }

  &__current {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    color: black;
    background-color: white;
    border: 1px solid #EAEAEA;
  }
}
