@import "./button";
@import "./field";
@import "./form";
@import "./login";
@import "./header";
@import "./dashboard";
@import "./table-transactions";
@import "./account-total";
@import "./inout-percent";
@import "./percent-bar";

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}
